<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <a href="http://localhost:3000">Back</a>
        <div class="post">
            <h2>Name:<%= dataContent.name %></h2>
            <h5>email: <%= dataContent.email %></h5>
        </div>
</body>
</html>